DEBUG_MODE=false
MODELS_DIR=experimentation_logs/models
TRAINING_LOGS_DIR=experimentation_logs/train_logs
QUARTO_ASSETS_DIR=game_assets/quarto/v1
TICTACTOE_ASSETS_DIR=game_assets/tictactoe/v2
LINE_WORLD_ASSETS_DIR=game_assets/line_world/v2
GRID_WORLD_ASSETS_DIR=game_assets/grid_world/v2