DEBUG_MODE=false
MODELS_DIR=experimentation_logs/models
TRAINING_LOGS_DIR=experimentation_logs/train_logs
QUARTO_GAME_ASSETS=game_assets/quarto_assets/v2
TICTACTOE_GAME_ASSETS=game_assets/tictactoe/v2
